body{
    background-color:black;
    color: white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 24px 0;
    cabeçalho-imagem {width: 10%;}
    escola-imagem {width:30%;}
    }